*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
/* Heading */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

header h1{
    letter-spacing: 0.5rem;
    font-size: x-large;
    font-weight: bolder;
}

.start-point {
    margin-top: 3rem;
    display: flex;
    text-align: center;
    align-items: center;
    gap: 3rem;
}

.start-point img{
    max-width: 100px;
}

.registration-no {
    position: relative;
    left: 110px;
}

.registration-no span {
    color: red;
}

/* Main 1*/
main {
    width: 90%;
    margin: auto;
    border: #000000 solid;
    padding: 0;
}

.main-head1 {
    text-align: center;
    border-bottom: #000000 solid;
    padding: 10px;
    background-color: rgb(11, 170, 64);
}

.student-info-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.label {
    margin: 100px;
}

span {
    font-weight: bold;
}

/* Content */
.main-head2{
    border-top: #000000 solid;
    border-bottom: #000000 solid;
    padding: 10px;
    background-color: rgb(11, 170, 64);
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    align-items: center;
}


.unit {
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
   
}

.inside-unit{
    display: flex;
    gap: 45px;
}


.content {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
}
.trifecta1, .trifecta2, .trifecta3, .trifecta4, .trifecta5, .trifecta6, .trifecta7, .trifecta8 {
    display: flex;
    margin-bottom:15px ; 
    margin-top: 5px;
    gap: 50px;
    padding:0;
    
}

.trifecta8 div{
    border-top: #000000 solid;
    font-weight: bold;
}
  
.column1, .column2 {
    
    padding-top: 5px;
    padding-right: 1px;
    padding-bottom: 5px;
    padding-left: 1px;
    margin-right: 10px;
    position: relative;
}

.column2-child-move {
    position: absolute;
    left: 250px;
    font-weight: bold;
}

.column4, .column5 {
    padding: 0%;
    margin-left: 25px;
}

.column6 {
    margin-right: 50px;
    text-decoration: underline;
}

.column1-child, .column2-child, .column4-child, .column6-child {
    margin-bottom: 15px;
}
  
.main-head-finish {
    font-style: italic;
}

/* Main-2 */
.split {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

/* Assessed Fees */
.assessed-head h3, .assessed-container-final{
    text-align: center;
    background-color: rgb(11, 170, 64);
    border-bottom: #000000 solid;
}

.assessed-container {
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
    align-items: center;
    border-bottom: #000000 solid;
    
}

.main2 {
    position: relative;
    border: #000000 solid;
    left: 50px;
}

.compute1, .compute2, .compute3{
    display: flex;
    justify-content: space-around;
    border-bottom: #000000 solid;
}

.give-underline {
    text-decoration: underline;
}

.final-label {
    display: flex;
    justify-content: space-around;
    border: 1px solid #000000;
}

.final-label > div {
    padding: 0 10px;
}

.final-label div:last-child {
   border-bottom: none;
}


/* Rules-Refund */

.rules-refund {
    position: relative;
}

.title-refund {
    text-align: center;
}

.rules {
    font-style: italic;
    position: absolute;
    left: 210px;
    font-weight: lighter;
    word-spacing: 9px;
}

.validation1 {
    position: absolute;
    top: 290px;
    left: 100px;
}

.empty-line1 {
    position: absolute;
    top: 1px;
    left: 300px;
    border-bottom: #000000 solid;
    color: white;
}

.validation2 {
    position: absolute;
    top: 350px;
    left: 100px;
}

.empty-line2 {
    position: absolute;
    bottom: 1px;
    left: 300px;
    border-bottom: #000000 solid;
    color: white;
}

.payment-validation-data{
    position: absolute;
    left: 450px;
    bottom: 100px;
}

.approved-container {
    position: absolute;
    left: 200px;
    top: 450px;
}

.registrar-sign {
    position: absolute;
    top: 500px;
    left: 290px;
}

.registrar-sign img {
    width: 350px;
    height: 110px;
}

.date-printed {
    position: absolute;
    right: 100px;
    top: 1500px;
}

.final-footer {
    text-align: center;
    border-top: #000000 solid;
    padding: 0.1px;
    background-color: rgb(11, 170, 64);
}

