*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
/* Heading */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

header h1{
    letter-spacing: 0.5rem;
    font-size: x-large;
    font-weight: bolder;
}

.start-point {
    margin-top: 3rem;
    display: flex;
    text-align: center;
    align-items: center;
    gap: 3rem;
}

.start-point img{
    max-width: 100px;
}

.registration-no {
    position: relative;
    left: 110px;
}

.registration-no span {
    color: red;
}

/* Main */
main {
    width: 90%;
    margin: auto;
    border: #000000 solid;
    padding: 0;
}

main .main-head1 {
    text-align: center;
    border-bottom: #000000 solid;
    padding: 10px;
    background-color: rgb(11, 170, 64);
}

.student-info-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.label {
    margin: 100px;
}

span {
    font-weight: bold;
}

/* Content */
.main-head2{
    border-top: #000000 solid;
    border-bottom: #000000 solid;
    padding: 10px;
    background-color: rgb(11, 170, 64);
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    align-items: center;
}


.unit {
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
   
}

.inside-unit{
    display: flex;
    gap: 45px;
}


.content {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
}
.trifecta1, .trifecta2, .trifecta3, .trifecta4, .trifecta5, .trifecta6, .trifecta7, .trifecta8 {
    display: flex;
    margin-bottom:15px ; 
    margin-top: 5px;
    gap: 50px;
    padding:0;
    
}

.trifecta8 div{
    border-top: #000000 solid;
    font-weight: bold;
}
  
.column1, .column2 {
    
    padding-top: 5px;
    padding-right: 1px;
    padding-bottom: 5px;
    padding-left: 1px;
    margin-right: 10px;
    position: relative;
}

.column2-child-move {
    position: absolute;
    left: 250px;
    font-weight: bold;
}

.column4, .column5 {
    padding: 0%;
    margin-left: 25px;
}

.column6 {
    margin-right: 50px;
    text-decoration: underline;
}

.column1-child, .column2-child, .column4-child, .column6-child {
    margin-bottom: 15px;
}
  
.main-head-finish {
    font-style: italic;
}

.split {
    display: grid;
    grid-template-columns: auto auto;
}

/* Bottom Part */
.ssessed-fees-box{
    margin: 0;
    padding:0;
}

.assessed-head h3{
    align-items: center;
}
